@(taskList: List[Task], taskForm: Form[Task])

@import helper._

@common("今もってるタスク") {
    <h2>Add a new task</h2>

    @form(routes.Application.createTask()) {
        @inputText(taskForm("name"), '_label -> "タスク名")
        @inputDate(taskForm("period"), '_label -> "期限")
        <input type="submit" value="Create" />
    }

    <h1>タスク一覧</h1>

    @if(taskList.isEmpty()) {
        Task は一件もありません
    } else {
       <ul>
       @for(task <- taskList) {
           <li>@task.name</li>
       }
       </ul>
    }
}
